{% extends 'forum/base.html'%}
{% block content %}
	{% for post in posts %}
	<div class="card  mb-1 mt-1">
		<div class="card-header p-1 p-sm-1 pt-1 pb-1 color-cyan">
			</span><span  class="card-title m-0 pl-1 pr-1 float-left">{% if post.titre %}{{ post.titre}} : {% endif %}{{ post.dateDePublication}}</span><a class="card-title m-0 pl-1 pr-1 float-right text-white" href = "{% url 'users_app:profile' post.auteur.profile.pk %}">{{ post.auteur.username}}</a>
		</div>
		<a href = {% url 'forum_app:read_post' post.pk %} class="appercu">
		<div class="card-body p-0 p-sm-2 pl-1 pr-1">
			{{ post.contenu|truncatewords:10}}
		</div>
		</a>
		<div class="card-footer p-1 p-sm-1 ">
			<p class="pl-1 pr-1 m-0"> Vote {{post.vote_set.all.count}}  Réponses {{post.commentaire_set.all.count}}</p>
		</div>
	</div>
	{% endfor %}
{% endblock %}
